body {
  margin: 0px;
  height: 100vh;
}

html {
  color: rgb(218, 218, 218);
  accent-color: rgb(71, 191, 232);
  overflow-wrap: break-word;
  font-family:
    sharkey-theme-font-face,
    Lexend,
    Hiragino Maru Gothic Pro,
    BIZ UDGothic,
    Roboto,
    HelveticaNeue,
    Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.35;
  tab-size: 2;
  -webkit-text-size-adjust: 100%;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-image: url("../images/background-spooky.png");
  background-position: center;
  background-size: cover;
}
.shape {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(71, 191, 232);
  clip-path: polygon(0% 0%, 45% 0%, 20% 100%, 0% 100%);
}

.title-bar {
  background-color: #131415;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-title {
  color: purple;
}

a {
  text-decoration: none;
  color: black;
}

.page-content {
  position: relative;
  width: min(430px, 100% - 32px);
  margin-left: 128px;
  padding: 100px 0;
}
.panel-root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0 0;
}

.panel {
  position: relative;
  background: rgb(40, 45, 46);
  border-radius: 5px;
  box-shadow: 0 12px 32px #00000040;
  text-align: center;
}

.panel-main {
  position: relative;
  z-index: 1;
}

.main-title {
  display: block;
  margin: 0;
  padding: 16px 32px 24px;
  font-size: 1.4em;
}
.main-about {
  padding: 0 32px;
}

.main-actions {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
a:focus-visible {
  outline-offset: 2px;
}
a:hover {
  text-decoration: underline;
}
a[target="_blank"] {
  -webkit-touch-callout: default;
}

.button-root {
  border-radius: 5px;
  width: 100%;
  line-height: 28px;
  position: relative;
  z-index: 1;
  display: block;
  min-width: 100px;
  padding: 7px 14px;
  text-align: center;
  font-weight: 400;
  font-size: 95%;
  box-shadow: none;
  text-decoration: none;
  background: rgb(52, 58, 60);
  overflow: clip;
  box-sizing: border-box;
  transition: background 0.1s ease;
  appearance: none;
  margin: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-size: 1em;
  font-family: inherit;
  max-width: 100%;
  -webkit-touch-callout: none;
}

.button-root:hover {
  background: rgb(64, 72, 73);
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  line-height: 28px;
  position: relative;
  z-index: 1;
  display: block;
  min-width: 100px;
  padding: 7px 14px;
  text-align: center;
  font-weight: 400;
  box-shadow: none;
  overflow: clip;
  box-sizing: border-box;
  transition: background 0.1s ease;
  appearance: none;
  margin: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
  max-width: 100%;
  -webkit-touch-callout: none;
}

.button-ripples {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: clip;
  pointer-events: none;
}

.button-content {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.timeline {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 64px;
  margin: auto;
  padding: 128px 0;
  width: 500px;
  height: calc(100% - 256px);
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 128px,
    rgb(0, 0, 0) calc(100% - 128px),
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    0deg,
    #0000,
    #000 128px calc(100% - 128px),
    #0000
  );
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes timeline-scrollConstant {
  0% {
    transform: translate3d(0, -128px, 0);
  }
  to {
    transform: translate3d(0, calc(-100% - 128px - 16px), 0);
  }
}

.scroll-loop {
  animation: timeline-scrollConstant 30s linear infinite;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.timeline:has(.timeline-note:hover) .scroll-loop {
  animation-play-state: paused;
}

.timeline-note {
  margin-left: auto;
}

.timeline-content {
  padding: 16px;
  margin: 0 0 0 auto;
  max-width: max-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  background: color-mix(in srgb, rgb(40, 45, 46) 65%, transparent);
  overflow: clip;
}

.timeline-text {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.gh-link {
  box-sizing: border-box;
  margin: 8px -16px -8px;
  padding: 8px 16px 0;
  width: calc(100% + 32px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.gh-link-root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 4px -2px 0;
  cursor: auto;
}

.page {
  font-size: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
